apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: acmeprodacr.azurecr.io/gateway-service:latest
          ports:
            - containerPort: 3000
          env:
            - name: ENVIRONMENT
              value: "prod"
            - name: APPINSIGHTS_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: appinsights-secret
                  key: CONN

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10

# Note:- ingress.yaml routes /users and /orders to gateway service or you can use path-based routing to gateway; 
#        simpler: ingress points to gateway service on port 3000; gateway then forwards upstream to internal services.