apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order
          image: acmeprodacr.azurecr.io/order-service:latest
          ports:
            - containerPort: 5001
          env:
            - name: ENVIRONMENT
              value: "prod"